#haha {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border: 2px solid rgb(255, 208, 0);
    padding: 15px;
}
.haha {
    
    width : 400px;
    transform:translateX(90px);
    opacity: 0;
    transition: all 0.7s;
}
.active{
    
    transform:translateX(0);
    opacity: 100%;
    
}