@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    background: rgb(43,9,4);
    background: linear-gradient(90deg, rgba(43,9,4,1) 0%, rgba(142,17,54,1) 100%);
    position: relative;
}
#win {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top :-100%;
    transition: all 0.5s;
}
#win div:first-child{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.44);
    width: 50%;
    min-height: 35vh;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    font-family: "Roboto";
    border-radius: 20px;
    transition: all 0.5s;
}
#win div:first-child button{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    transition: all 0.5s;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}
.player1, .player2 {
    width: 30%;
    min-height: 80vh;
    background-color: rgba(129, 129, 129, 0.218);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 40px;
    color:rgb(222, 34, 34);
    transition: all 0.5s;
}
.player1 {
    border-radius: 10px 0 0 10px;
}
.player2 {
    border-radius: 0 10px 10px 0;
}
.player1 p, .player2 p {
    font-family: 'Arvo', serif;
}
.current {
    background-color: rgb(222, 34, 34);
    margin: 0 150px;
    padding: 20px 0;
    line-height: 60px;
    color: white;
    border-radius: 7px;
    transition: all 0.5s;
}
.current p:first-child{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.player1 div:first-child p:first-child, .player2 div:first-child p:first-child {
    font-size: 60px;
    color: aliceblue;
    margin-bottom: 40px;
}
.player1 div:first-child p:nth-child(2), .player2 div:first-child p:nth-child(2) {
    font-size: 90px;
    color: aliceblue;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    
}
#hold, #roll, .newgame {
    position: absolute;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
#hold {
    bottom: 19%;
}
#roll {
    bottom: 29%;
}
.newgame {
    top: 13%;
}
#diceImg {
    position: absolute;
    top : 30%;
    width: 110px;
}
.selected {
    background-color: rgba(169, 169, 169, 0.425);
}
.blur {
    filter: blur(5px);
}